body{
    height: 100vh;
    background-image: linear-gradient(rgb(241 241 241), rgb(134 172 136));
}

.logo{
    display: block;
    margin: auto;
    height: 50px;
}

h3{
    margin-top: 18px;
    font-size: 30px;
    font-family: inherit;
    text-align: center;
}

.container{
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    border-radius: 13px;
}

.message{
    background-color: white;
    width: 24%;
    padding: 7px;
    margin: 15px 8px;
    border: 2px solid black;
    border-radius: 9px;
}

.right{
    float: right;
    clear: both;
}

.left{
    float: left;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 950px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#messageInp{
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 15px;
}

.btn{
    margin: 0px 5px;
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}